<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/assets/style.css" type=text/css rel=stylesheet />
  <title>Planets</title>
</head>
<body>
  <h1>Catálogo de planetas</h1>
  <form action="/findPlanet" method="POST">
    <label for="criterio">Criterio de búsqueda:</label>
    <input type="text" id="criteria" name="criteria"><br><br>
    <input type="submit" value="Buscar">
    <a href='/planets'>
      <input type='submit' value='Limpiar'>
    </a>
  </form>
  <table class="styled-table">
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Orden</td>
        <td>Anillos</td>
        <td>Atmósfera principal</td>
        <td>Temperatura máxima °C</td>
        <td>Temperatura media °C</td>
        <td>Temperatura mínima °C</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <!--Desplegamos la información de cada uno de los documentos en la base de datos-->
      <% Planets.forEach((planet) => { %>
        <tr>
          <td><%= planet.name %></td>
          <td><%= planet.orderFromSun %></td>
          <td><%= planet.hasRings %></td>
          <td><%= planet.mainAtmosphere %></td>
          <td><%= planet.surfaceTemperatureC.max %></td>
          <td><%= planet.surfaceTemperatureC.mean %></td>
          <td><%= planet.surfaceTemperatureC.min %></td>
          <td><a href='<%= `findById/${planet._id}` %>'>Editar</a></td>
          <td><a href='<%= `deletePlanet/${planet._id}` %>' onclick="return confirmar()">Borrar</a></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  <a href='/addPlanet'>Agregar</a>
  <!--Script para mostrar un mensaje de confirmación-->
  <script type="text/javascript">
    function confirmar() {
        let deletePlanet = confirm('¿Deseas eliminar este registro?'); // mensaje de confirmación
        if(deletePlanet) // resultado de la decisión
            return true;
        else 
            return false;
    }
  </script>
</body>
</html>